{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="/lib/webuploader/0.1.5/webuploader.css">
<style>
    .table .title{background-color: #f5fafe;font-size: 12px;vertical-align: middle;}
    .input-text,.select {font-size: 12px;}
    .select{
        height: 31px;
    }
</style>
{/block}
{block name="title"}编辑新闻{/block}
{block name="main"}
<div class="pd-10">
    <form action="" method="post" class="form form-horizontal" enctype="multipart/form-data"  id="edit" >
        <table class="table table-border table-bordered table-bg" style="width: 100%; margin: auto;">
            <thead>
            <tr class="text-c">
                <th scope="col" colspan="6" style="font-size: 14px;">编辑新闻</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td width="90" class="title">标题：</td>
                <td colspan="5">
                    <input type="text" class="input-text" value="{$info.news_title}" placeholder="请输入标题" name="news_title">
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">新闻类型：</td>
                <td width="196">
                    <select class="select" name="types">
                        {volist name="types" id="vo"}
                        <option value="{$vo.id}" {if $info.type_id == $vo.id}selected="selected"{/if}>{$vo.type_name}</option>
                        {/volist}
                    </select>
                </td>
                <td width="90" class="title">新闻分类：</td>
                <td width="196">
                    <select class="select" name="category_id">
                        {volist name="categories" id="vo"}
                        <option value="{$vo.id}" {if $info.category_id == $vo.id}selected="selected"{/if}>{$vo.category_name}</option>
                        {/volist}
                    </select>
                </td>
                <td width="90" class="title">新闻来源：</td>
                <td>
                    <select class="select" name="source_id">
                        {volist name="sources" id="vo"}
                        <option value="{$vo.id}" {if $info.source_id == $vo.id}selected="selected"{/if}>{$vo.source_name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">新闻布局：</td>
                <td width="196">
                    <select class="select" name="layout_id">
                        {volist name="layouts" id="vo"}
                        <option value="{$vo.id}" {if $info.layout_id == $vo.id}selected="selected"{/if}>{$vo.layout_name}</option>
                        {/volist}
                    </select>
                </td>
                <td width="90" class="title">标题标签：</td>
                <td width="196">
                    <select class="select" name="category_id">
                        {volist name="categories" id="vo"}
                        <option value="{$vo.id}" {if $info.category_id == $vo.id}selected="selected"{/if}>{$vo.category_name}</option>
                        {/volist}
                    </select>
                </td>
                <td width="90" class="title">新闻标签：</td>
                <td>
                    <select class="select" name="source_id">
                        {volist name="sources" id="vo"}
                        <option value="{$vo.id}" {if $info.source_id == $vo.id}selected="selected"{/if}>{$vo.source_name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">版权声明：</td>
                <td width="196">
                    <select class="select" name="layout_id">
                        {volist name="layouts" id="vo"}
                        <option value="{$vo.id}" {if $info.layout_id == $vo.id}selected="selected"{/if}>{$vo.layout_name}</option>
                        {/volist}
                    </select>
                </td>
                <td width="90" class="title">原文链接：</td>
                <td width="196">
                    <select class="select" name="category_id">
                        {volist name="categories" id="vo"}
                        <option value="{$vo.id}" {if $info.category_id == $vo.id}selected="selected"{/if}>{$vo.category_name}</option>
                        {/volist}
                    </select>
                </td>
                <td width="90" class="title">搜索标签：</td>
                <td>
                    <select class="select" name="source_id">
                        {volist name="sources" id="vo"}
                        <option value="{$vo.id}" {if $info.source_id == $vo.id}selected="selected"{/if}>{$vo.source_name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="text-c">
                <td width="90" class="title">摘要：</td>
                <td colspan="5">
                    <input type="text" class="input-text" value="{$info.news_title}" placeholder="摘要" name="news_title">
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">是否置顶：</td>
                <td style="text-align:left;line-height: 34px;" colspan="5">
                    <input type="radio" name="is_top" value="0" {if $info.is_top == 0}checked="checked"{/if}/>&nbsp;&nbsp;否&nbsp;&nbsp;
                    <input type="radio" name="is_top" value="1" {if $info.is_top == 1}checked="checked"{/if}/>&nbsp;&nbsp;是&nbsp;&nbsp;
                    <input type="text" name="top_end_date" style="width: 60%;{if $info.is_top == 0}display:none{/if}" class="input-text datepicker" placeholder="置顶到期时间" value="{$info.top_end_date_text}" autocomplete="off"/>
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">图片：</td>
                <td colspan="5" height="100">
                    <div class="uploader-thum-container" style="">
                        <div id="imgDiv" style="">
                            {volist name="info.images" id="vo"}
                                <div style="float:left;width:33%;"><img src="{$vo}" style="width: 82%;margin-bottom: 5px;" />
                                    <button class="btn btn-default radius ml-10" type="button" onclick="removeFile(this)">删除</button>
                                </div>
                            {/volist}
                        </div>
                        <div id="fileList" class="uploader-list"></div>
                        <br/>
                        <div id="filePicker" style="display:block;">选择图片</div>
<!--                        <div style="float: left;width: 100%;color: #cdcdcd;text-align: left;">最多上传三张图片</div>-->
                    </div>
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">内容：</td>
                <td colspan="5" height="100">
                    <textarea cols="100" rows="5" name="content" class="textarea">{$info.content}</textarea>
                </td>
            </tr>
            <tr class="text-c">
                <td class="title">后台管理员：</td>
                <td colspan="5">
                    <select class="select" name="add_uid">
                        {volist name="klAdmins" id="vo"}
                        <option value="{$vo.id}" {if $info.add_uid == $vo.id}selected="selected"{/if}>{$vo.user_number}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="text-c" >
                <td colspan="6">
                    <input type="hidden" id="images" name="news_picture" value="{$info.news_picture}" />
                    <input type="submit" id="submit-btn" value="提交" class="btn btn-primary radius" style="width:35%;">
                </td>
            </tr>
            </tbody>
        </table>

    </form>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script>
<!--<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>-->
<!--<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>-->
<!--<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>-->
<script type="text/javascript">

    function removeFile(obj){
        $(obj).parent().remove();
        var image_arr = [];
        $('#imgDiv img').each(function(i){
            image_arr.push($(this).attr('src'));
        });
        $('#images').val(image_arr.join(','));
    }

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //表单验证
        $("#edit").validate({
            rules:{
                title:{
                    required:true,
                },
                mem_id:{
                    required:true,
                },
                city_id:{
                    required:true,
                },
                category_id:{
                    required:true,
                },
                company_name:{
                    required:true,
                },
                service_area:{
                    required:true,
                },
                contact_person:{
                    required:true,
                },
                content:{
                    required:true,
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit(function (res) {
                    if(res.status == 'y'){
                        setTimeout(function(){
                            parent.window.location.reload();
                        },1000);
                    }else{
                        layer.msg(res.info);
                    }
                });
            }
        });

        var $list = $("#fileList");
        var state = "pending";
        var fileIds = [];

        var uploader = WebUploader.create({
            auto: true,
            swf: '/lib/webuploader/0.1.5/Uploader.swf',

            // 文件接收服务端。
            server: "{:url('ajax/upload', ['model'=>'live','thumb'=>1,'thumb_width1'=>200,'thumb_height1'=>200,'thumb_width2'=>750,'thumb_height2'=>750,'water'=>1])}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id:'#filePicker',
                multiple:false
            },
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on( 'fileQueued', function( file ) {
            var $li = $(
                '<div id="' + file.id + '" class="item">' +
                '<div class="pic-box"><img></div>'+
                '<div class="info">' + file.name + '</div>' +
                '<p class="state">等待上传...</p>'+
                '</div>'
                ),
                $img = $li.find('img');
            $list.append( $li );
        });
        // // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress-box .sr-only');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
            }
            // $li.find(".state").text("上传中");
            $percent.css( 'width', percentage * 100 + '%' );
        });
        //
        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file, response ) {
            fileIds.push(file.id);
            if(response.code == 1){
                //$("#filename").val(response.filename);
                layer.msg(response.info,{icon: 6,time:1000}, function(){
                    //window.location.reload();
                    var oldVal = $('#images').val();
                    var newVal = oldVal ?  (oldVal + "," + response.filename) : response.filename;
                    $('#images').val(newVal);
                    $('#imgDiv').html($('#imgDiv').html() + '<div style="float:left;width:33%;"><img src="'+response.filename+'" style="width: 82%;margin-bottom: 5px;" /><br><button class="btn btn-default radius ml-10" type="button" onclick="removeFile(this)">删除</button></div>');
                });
                for(var i in fileIds){
                    uploader.removeFile( fileIds[i],true );
                    $("#"+fileIds[i]).remove();
                    fileIds.pop();
                }
            }
            else {
                layer.msg(response.info,{icon: 5,time:1000});
            }
            // $( '#'+file.id ).addClass('upload-state-success').find(".state").text("已上传");
        });
        //
        // 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ) {
            $( '#'+file.id ).addClass('upload-state-error').find(".state").text("上传出错");
        });
        //
        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress-box').fadeOut();
            $( '#'+file.id ).find('.state').fadeOut();
        });
        //城市切换
        $("select[name='city_id']").change(function(){
            var city_id = $(this).val();
            var categorySelect = $("select[name='category_id']");
            $.ajax({
                url: '{:url("ajax/getLiveCategoryByCityId")}',
                type: 'get',
                dataType: 'json',
                data: {
                    'city_id': city_id
                },
                success: function (data) {
                    if (data.status == 'y') {
                        if (data.info) {
                            categorySelect.empty();
                            var option = '';
                            $.each(data.info.categories, function(i, item){
                                option += '<option value="' + item.id + '">' + item.category_name + '</option>';
                            });
                            option = option ? option : '<option value="">该城市无生活分类</option>';
                            categorySelect.html(option);
                        }
                    } else {
                        layer.msg('获取该城市的生活分类失败', {
                            icon: 2,
                            time: 1000
                        });
                    }
                }
            });
        });
        //会员切换
        $('#mem_id').on('blur', function(){
            if ($(this).val() == ''){
                return;
            }
            var index = layer.load(1, {
                shade: [0.1,'#b3b3b3'] //0.1透明度的白色背景
            });
            $.ajax({
                url:'{:url("ajax/getMemberNickname")}',
                type:'get',
                dataType:'json',
                data:{'mem_id':$('#mem_id').val()},
                success:function(data){
                    layer.close(index);
                    if(data.status == 'y'){
                        if (data.info){
                            $('.nick_name_td').html(data.info.nick_name);
                        }
                        else {
                            $('.nick_name_td').html('未查找到会员');
                        }
                    }else{
                        layer.msg('连接服务器超时',{icon:2,time:1000});
                    }
                }
            });
        });
        //是否置顶切换
        $('input[name=is_top]').on('click', function () {
            if (this.value == 1) {
                $('input[name=top_end_date]').show();
            } else {
                $('input[name=top_end_date]').hide();
                $('input[name=top_end_date]').val('');
            }
        });
        $(".datepicker").datetimepicker({
            language: "zh-cn",
            format: "yyyy-mm-dd hh:ii",
            autoclose: true
        });
    });
</script>
{/block}