{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="/static/css/layui.css" />
<style>
    #pages{
        display:block;
        text-align: center;
    }
</style>
{/block}
{block name="title"}生活列表{/block}
{block name="main"}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 生活管理
    <span class="c-gray en">&gt;</span> 生活列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="text-c">
<!--        <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>-->
<!--        <span class="select-box inline">-->

        <form method="get" action="">
            <div class="text-c">
                <input type="text" name="news_title" class="input-text" placeholder="标题" style="width:180px;" value="{$Think.get.title}">
                <select name="category_id" class="select select-box" style="width: 180px;">
                    <option value="">全部分类</option>
                    {volist name='categories' id='vo'}
                    <option value="{$vo.id}" {if $Think.get.category_id == $vo.id}selected="selected"{/if}>{$vo.category_name}</option>
                    {/volist}
                </select>
                <select name="source_id" class="select select-box" style="width: 180px;">
                    <option value="">全部来源</option>
                    {volist name='sources' id='vo'}
                    <option value="{$vo.id}" {if $Think.get.source_id == $vo.id}selected="selected"{/if}>{$vo.source_name}</option>
                    {/volist}
                </select>
                <select name="is_top" class="select select-box" style="width: 180px;">
                    <option value="-1">是否置顶</option>
                    {volist name='isTop' id='vo'}
                    <option value="{$key}" <?php if(isset($_GET['is_top'])):if($_GET['is_top'] == $key): echo 'selected="selected"';?><?php endif;?><?php endif;?>>{$vo}</option>
                    {/volist}
                </select>
                <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </div>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
<!--            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">-->
<!--            <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
            <a class="btn btn-primary radius" data-title="添加"  onclick="admin_add('添加', 1000, 800)" href="javascript:;">
                <i class="Hui-iconfont">&#xe600;</i> 添加</a>
        </span>
        <span class="r">共有数据：<strong>{$total}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
<!--                <th width="25"><input type="checkbox" name="" value=""></th>-->
                <th width="80">ID</th>
                <th width="80">新闻分类</th>
                <th width="80">新闻来源</th>
                <th width="80">新闻布局</th>
                <th width="80">新闻类型</th>
                <th width="80">新闻标题</th>
                <th width="80">版权声明</th>
                <th width="80">添加时间</th>
                <th width="80">是否置顶</th>
                <th width="80">置顶到期时间</th>
                <th width="80">后台管理员</th>
                <th width="60">是否上传</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='vo'}
                <tr class="text-c">
<!--                    <td><input type="checkbox" value="" name=""></td>-->
                    <td>{$vo.id}</td>
                    <td>{$vo.category.category_name}</td>
                    <td>{$vo.source.source_name}</td>
                    <td>{$vo.layout.layout_name}</td>
                    <td>{$vo.type.type_name}</td>
                    <td>{$vo.news_title}</td>
                    <td>{$vo.declare_text}</td>
                    <td>{$vo.add_time_text}</td>
                    <td>
                        {if $vo.is_top == 0}
                            <span class="label label-default radius">否</span>
                            {else /}
                            <span class="label label-success radius">是</span>
                        {/if}
                    </td>

                    <td>{$vo.top_end_date_text}</td>
                    <td>{$vo.kaola_admin.user_number}</td>
                    <td>{if $vo.is_uploaded == 0}
                        <span class="label label-default radius">否</span>
                        {else /}
                        <span class="label label-success radius">是</span>
                        {/if}
                    </td>
                    <td class="f-14 td-manage">
                        <a style="text-decoration:none" class="ml-5" onClick="uploadToProduct(this,'{$vo.id}')" href="javascript:;" title="上传">
                            <i class="Hui-iconfont">&#xe603;</i>
                        </a>
                        <a style="text-decoration:none" class="ml-5" onClick="admin_edit('编辑','{$vo.id}', 1000, 800)" href="javascript:;" title="编辑">
                            <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                        <a style="text-decoration:none" class="ml-5" onClick="admin_del(this,'{$vo.id}')" href="javascript:;" title="删除">
                            <i class="Hui-iconfont">&#xe6e2;</i>
                        </a>
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>
        {$list|raw}
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*查看图片*/
    function showImage(title, url){
        var array = url.split(",");
        var html = '';
        for(var i in array){
            html += '<image src="'+array[i]+'" style="margin-top:2px;width:100%;"><br>';
        }
        layer.open({
            type: 1,
            title: '【' + title + '】发布内容',
            skin: 'layui-layer-rim', //加上边框
            shadeClose: true,
            area: ['500px', '600px'], //宽高
            content: '<div style="text-align:center;">'+html+'</div>'
        });
    }
    /*查看内容*/
    function showContent(title, content){
        layer.open({
            type: 1,
            title: '【' + title + '】发布内容',
            skin: 'layui-layer-rim', //加上边框
            shadeClose: true,
            area: ['500px', '600px'], //宽高
            content: '<div style="text-align:center;">'+content+'</div>'
        });
    }

    /*上传至正式站*/
    function uploadToProduct(obj,id){
        layer.confirm('确认要上传吗？',function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('uploadToProduct')}" + '?id=' + id,
                dataType: 'json',
                success: function(data){
                    if(data.status == 'y'){
                        layer.msg(data.info,{icon: 1,time:1000},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.info,{icon: 5,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*添加*/
    function admin_add(title,w,h){
        url = "{:url('add')}";
        layer_show(title,url,w,h);
    }

    /*编辑*/
    function admin_edit(title,id,w,h){
        url = "{:url('edit')}" + '?id=' + id;
        layer_show(title,url,w,h);
    }
    /*删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('delete')}" + '?id=' + id,
                dataType: 'json',
                success: function(data){
                    if(data.status == 'y'){
                        layer.msg(data.info,{icon: 1,time:1000},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.info,{icon: 5,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
    /*城市切换*/
    $("select[name='city_id']").change(function(){
        var city_id = $(this).val();
        if(city_id == ''){
            return;
        }
        var categorySelect = $("select[name='category_id']");
        $.ajax({
            url: '{:url("ajax/getLiveCategoryByCityId")}',
            type: 'get',
            dataType: 'json',
            data: {
                'city_id': city_id
            },
            success: function (data) {
                if (data.status == 'y') {
                    if (data.info) {
                        categorySelect.empty();
                        var option = '';
                        $.each(data.info.categories, function(i, item){
                            option += '<option value="' + item.id + '">' + item.category_name + '</option>';
                        });
                        option = option ? '<option value="">全部分类</option>'+ option : '<option value="">该城市无生活分类</option>';
                        categorySelect.html(option);
                    }
                } else {
                    layer.msg('获取该城市的生活分类失败', {
                        icon: 2,
                        time: 1000
                    });
                }
            }
        });
    });
</script>
{/block}